li.is-prime{
    color: #00E676;
}
li.non-prime{
    color: #FF3D00;
}
body{
    background-color: aqua;
}
footer{
    background-color: silver;
    border-width: 10;
    border-color: yellow;
    }
h1{
    color: gold;
    font-weight: 1000;
    font-style: oblique;
    background-color: red;
}
button{
    background-color: green;
    color: white;
}
input.EnterNo{
    color:blue;
}
.error{
    color: red;
}