<body>
    <h1>Show Finder</h1>
    <main>
        <p class="intro">Welcome! This website will help you find the shows you are interested in. This is the homepage. Please enter search key in bar. </p>
        <form method="GET" action="/search/">
            <label for="EnterKey">Please enter the search term <br>
                <input type="text" name="searchTerm" class="text_input" id="EnterKey"/>
            </label>
            <label>
                <button type="submit" value="search" class="submit" id="Submission">Submit</button>
            </label>
        </form>
    </main>
</body>