<body>
    <h1>{{{title}}}</h1>
    <form method="post" action="/login" id="login-form">
        <label for="username">
            Username
            <input type="text" id="username" name="username" />
        </label>
        <label for="password">
            Password
            <input type="text" id="password" name="password"/>
        </label>
        <label>
            Submit
            <button type="submit">Submit</button>
        </label>
    </form>
    {{#if failed}}
    <div class="Error">
        Error! The data you provided is not correct.
    </div>
    {{/if}}
</body>