<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Fibonacci and prime checker </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../public/style.css">
    </head>
    <body>
        <h1>Fibonacci and prime checker</h1>

        <form method="POST" id="myForm">
		<label for="EnterNo">
			Enter No:
			<input type="number" id ="EnterNo" name="NumToCheck" />
        </label>
        <label id="myBtn1">
			<button type="submit" id="myBtn">Enter</button>
		</label>
	    </form>

        <p class="error" id="error1" hidden>Error! You must give an input</p>
        <p class="error" id="error2" hidden>Error! Cannot input negative numbers</p>
        <p class="error" id="error3" hidden>Error! Cannot input decimal numbers</p>

        <ul id="results">
            
        </ul>
        <footer>Omkar Sinha 10468312</footer>
        <script src="../../public/script.js"></script>
    </body>
</html>